* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Outfit, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    background-color: transparent;
    position: fixed;
}

header.scrolled {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 90px;
}

.checkbtn {
    font-size: 30px;
    color: #FB4983;
    float: right;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


.nav-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
    margin-right: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #FB4983;
    font-weight: bold;
    transition: 0.06s;
    font-size: 21px;
}

.nav-links a:hover {
    color: white;
    background-color: #FB4983;
    padding: 20px;
    border-radius: 15px;
}

.btn:hover {
    background: #111;
}


.container {
    display: flex;
    gap: 20px;
    height: 80vh;
    width: 100%;
    overflow-x: hidden; 
    margin-top: 110px;
}
.slider-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:baseline;
    width: 30vw;
    position: relative;
    overflow: hidden;
}
.slider-container img {
    height: 60vh;
    max-width: min-content;
    animation: shake 1.5s infinite;
}
#slider-img {
    max-width: 80%;
}
#image-name{
    font-family: 'Outfit', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #FB4983;
    border-radius: 15px;
    color: white;
    padding: 5px;
    width: 250px;
    font-size: 20px;
    margin: auto; 
    margin-top: 10px;
    z-index: 1; 
    transition: background-color 1s;
}
#image-amount{
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
@keyframes shake {
    0% { transform: translateX(0) rotate(0deg); }
    25% { transform: translateX(-3px) rotate(-3deg); }
    50% { transform: translateX(3px) rotate(3deg); }
    75% { transform: translateX(-3px) rotate(-3deg); }
    100% { transform: translateX(0) rotate(0deg); }
}  
#prevBtn,
#nextBtn {
    position: absolute;
    top: 35%;
    font-weight: 1000;
    font-size: 50px;
    background-color: transparent;
    border: transparent;
    color: white;
    text-shadow: 2px 2px 5px #FB4983;
}
#prevBtn{
    left: 10px
}        
#nextBtn {
    right: 10px
}     
::-webkit-scrollbar {
    width: 10px;
}
#addon-container {
    display: flex;
    margin-top: 5%;
    margin-right: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40vw;
    max-width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Outfit', sans-serif;
    overflow-y: auto;
    max-height: 60vh;
}
.addon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.addon-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    font-family: 'Outfit', sans-serif;
}
.addon-controls input {
    text-align: center;
    width: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
}
.addon-info {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    flex: 1;
}
.addon-info img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.addon-details {
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}
.addon-name {
    margin-right: 10px;
    font-family: 'Outfit', sans-serif;
}
.addon-price {
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
}
.quantity-controls {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    gap: 3px;
    margin-right: 20px;
}
.quantity-controls button {
    padding: 5px 10px;
    border: none;
    background-color: #FB4983;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}
.quantity-controls input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
}
.add-to-cart-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-right: 115px;
}
.add-to-cart {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* Add any other styles you want */
}

.added {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    /* Add any other styles you want */
}
.add-to-cart-btn {           
    font-size: 1.2rem;
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    margin-right: 50px;
    width: 240px;
    height: 60px;
    border-radius: 8px;
    color: #fff;
    background-color: #FB4983;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
}
.add-to-cart-btn:active {
    transform: scale(.9);
}
.add-to-cart-btn .fa-shopping-cart {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 2rem;
}
.add-to-cart-btn .fa-box {
    position: absolute;
    top: -20%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 3;
    font-size: 1.2rem;
}
.add-to-cart-btn .add-to-cart,
.add-to-cart-btn .added {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 700 18px 'Open Sans';
}
.add-to-cart-btn .added {
    opacity: 0;
}
.add-to-cart-btn.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}
.add-to-cart-btn.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}
.add-to-cart-btn.clicked .add-to-cart {
    animation: text1 1.5s ease-in-out forwards;
}
.add-to-cart-btn.clicked .added {
    animation: text2 1.5s ease-in-out forwards;
}
@keyframes cart {
    0% {
        left: -10%;
    }
    40%, 60% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}
@keyframes box {
    0%, 40% {
        top: -20%;
    }
    60% {
        top: 40%;
        left: 52%;
    }
    100% {
        top: 40%;
        left: 112%;
    }
}
@keyframes text1 {
    0% {
        opacity: 1;
    }
    20%, 100% {
        opacity: 0;
    }
}
@keyframes text2 {
    
    0%, 80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#cart-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.cart-summary-title {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 20px;
}
#cart-summary-container {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 3px solid rgb(223, 141, 190);
    z-index: 9999;
    display: none;
    font-family: 'Outfit', sans-serif;
    margin-top: 20px;
    overflow-y: auto;
    border-radius: 20px;
    height: 60%;
    width: 40%;
}
@keyframes pop-up {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.pop-up {
    animation: pop-up 0.3s ease-out forwards;
}
.cart-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Outfit', sans-serif;
}
.cart-table th, .cart-table td {
    border: none;
    font-family: 'Outfit', sans-serif;
    padding: 8px;
    text-align: center;
}
.cart-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
}
.cart-table td img {
    vertical-align: middle;
}
.addon-row .addon-img {
    width: 25px;
    height: 25px;
}
.cart-table td {
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}
.base-row {
    background-color: #e0f7fa;
    font-family: 'Outfit', sans-serif;
}
.base-img {
    width: 50px;
    height: 50px;
}
.total-amount {
    font-weight: bold;
    text-align: right;
    font-family: 'Outfit', sans-serif;
    margin-top: 20px;
}
.checkout-button {
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    position:sticky;
}
.checkout-button:hover {
    background-color: #45a049;
}
.close-button{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #767b76;
    color: white;
    border: none;
    cursor: pointer;
}
.quantity-controls {
    display: flex;
    align-items: center;
}
.quantity-controls button {
    padding: 5px 10px;
    border: none;
    background-color: #FB4983;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.quantity-controls input {
    width: 40px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
}
.addon-info {
    display: flex;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.addon-info img {
    margin-right: 10px;
}
.addon-name,
.addon-price {
    margin-right: auto;
    font-family: 'Outfit', sans-serif;
}
#viewCartBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
#viewCartBtn:hover {
    background-color: #45a049;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease-in-out;
}
.alert{
    background: #ffe1e0;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ff465b;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}
.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
}
.alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
}
.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #fd4857;
    font-size: 30px;
}
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    color: #ff4753;
    font-family: 'Outfit', sans-serif;
}
.alert .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #fe9aa5;
    padding: 20px 18px;
    cursor: pointer;
}
.alert .close-btn:hover{
    background: #ffc766;
}
.alert .close-btn .fas{
    color: #f94b5b;
    font-size: 22px;
    line-height: 40px;
}